html, body{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100%;
    height: 100% !important;
    overflow:hidden;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
}

button{  
    width:100%;
    margin-bottom: 10px;
}

label{
    margin-top:10px;
}

input{
    order: 0.5px solid grey;
    height:15px;
}

.input-container{
    display:flex;
    margin-top:10px !important;
    width: 50%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.controlButtons{
    /* margin:auto; */
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;    
    flex-direction: row;
}

.validation-msg{
    color: #dc3545;
    font-size:10px;
}

.letter{
    margin:auto;
}
.content-container{
    margin:auto;
    width:60%;
    height:fit-content;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.text{
    margin:0;
    padding-bottom:25px;
    
}

.submitButton{
    display:flex;
    align-items:flex-end;
    margin:0;
    margin-bottom:-20px;
    width:100%;

}

#submit{
    height:50px;
    margin-bottom:10px;
}

.hidden{
    display:none;
}